[Unit]
Description=Users API Service
After=network.target

[Service]
Type=simple
User=root
Group=root
ExecStart=/app/users-api/users-api-launcher.sh

[Install]
WantedBy=multi-user.target
